.profile-section {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 0 50px;
}

.profile-section > h2 {
  font-family: 'lato', sans-serif;
}

.name-mission {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  border-bottom: none;
  margin-top: 10px;
}

.row {
  border-bottom: 2px solid #d3d3d3;
  padding: 20px 15px;
}

.row p {
  font-size: 18px;
}

.row .text-muted {
  font-size: 25px;
  color: red;
  font-weight: bolder;
  text-align: center;
  margin-top: 25px;
}
